.divOutlinerContainer {
	margin-left: 15px;
	margin-right: auto;
	min-height: 550px;
	overflow: auto;
	padding: 12px;
	background-color: white;
}
.divSubtext {
	width: 65%;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
}
.divMenubar .container {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}
.dropdown-menu {
	width: 250px;
}
.dropdown-menu > li > a {
	cursor: pointer;
}
.navbar-inner {
	-moz-border-radius: 0;
	-moz-border-radius: none;
	-moz-box-shadow: none;
	background-image: none;
	border-radius: 0;
}
.divMenubar .brand {
	margin-top: 0;
}
.divMenubar .nav li {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}
.menuKeystroke {
	float: right;
	margin-left: 25px;
}
.menuKeystroke:before {
	content: "";
}
#idMenuProductName {
	font-family: "Arial";
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}
#idMainMenuList .dropdown {
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    background: none;
}
.dropdown-toggle {
    color: #777;
}
.dropdown-toggle:hover {
    color: #333;
}
